<h3><i class="fa-solid fa-file-arrow-down"> ETSD DOCS </i></h3>
<div class="section">
  <p class="lead"><strong>Store departmental documents</strong> </p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/outlook" class="btn blue darken-1">
    <i class="fab fa-microsoft left"></i> Log In with OWA
  </a>
</div>
